.card-header {
    background: #fff;
    width: 100%;
}

.card-wrapper {
    border: 1px solid #ddd;
    margin: 40px 20px;
    width: 400px;
}

img {
    width: 100%;
    cursor:pointer;
}

.image-wrapper {
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;;
}