.sidebar-container {
    float: left;
}

.dark-blue-button {
    border-radius: 20px;
    border: none;
    background-color: rgb(87, 119, 206);
    padding: 4px 15px;
    color: #fff;
    margin: 5px;
    font-size: 14px;
}